<nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav" style="padding-left: 350px;" >
        <li class="navbar-item;badge rounded-pill bg-dark" style="margin: 20px;">
            <a href="/" class="nav-link"style= "color: white;">Inicio</a>
        </li>
        <li class="navbar-item;badge rounded-pill bg-dark" style="margin: 20px;">
            <a href="/categorias/lista" class="nav-link"style= "color: white;">Categorias</a>
        </li>
        <li class="navbar-item;badge rounded-pill bg-dark"style="margin: 20px;">
            <a href="/mangas" class="nav-link"style= "color: white;">Mangás</a>
        </li>
        <li class="navbar-item;badge rounded-pill bg-dark"style="margin: 20px;">
            <a href="/perfil" class="nav-link"style= "color: white;">Perfil</a>
        </li>
    </ul>
</nav>
<br>