<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro de Mangas</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <div class="container" style="background-color: #fff5fd">
        <%- include ('partials/navbar'); %>
        <div class="card-header" style="background-color: #fff5fd">
            <h1 class="display-5; fw-bold">Seja bem vindo!</h1>
            <p class="lead; fw-bold">Cadastre seu mangá no menu acima</p>
        </div>
    </div>

    <nav class="nav justify-content-center"><h3>D E S T A Q U E S</h3></nav>
    

</div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>